.cartImg {
  margin-top: 10px;
  width: 150px;
}
.cartBody {
  border: 0.2px solid lightslategray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 1px 0px black;
}
.cart-button {
  margin-bottom: 10px;
  background-color: lightcoral;
  width: 200px;
}

.footerBtn2 {
  margin-top: 50px;
  color: white;
  background-color: black;
  margin-left: 10px;
}

.footerBtn1 {
  margin-top: 50px;
  color: black;
  background-color: white;
  margin-right: 10px;
}

.cartFooter {
  direction: flex;
  margin-top: 80px;
  border: 1px black;
  left: 0;
  bottom: 0;
  width: 100%;
}
