.card {
  border: 0.2px solid lightslategray;
  flex-wrap: wrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  box-shadow: 0 0 1px 0px black;
  flex: 4;
}

.cardImg {
  margin-top: 10px;
  width: 240px;
  height: 300px;
}

.btn {
  color: white;
  background-color: gray;
}
.eachCard {
  text-align: center;
  display: flex;
  justify-content: center;
}
