.card {
  border: 0.8px solid #dddddd;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 1px black;
  flex: 4;
}

.cardImg {
  margin-top: 10px;
  width: 240px;
  height: 300px;
}

.eachCard {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.item-add-button {
  background-color: ghostwhite;
  box-shadow: 0 0 2px 0px black;
  margin-bottom: 15px;
}
.item1 {
  margin-top: 100px;
  background-size: cover;
}

.item2 {
  background-size: cover;
}
.item3 {
  background-size: cover;
}
