a {
  color: gray;
}

.menu {
  /* border-bottom: solid 1px #e8e8e8; */
  overflow: auto;
  height: 80px;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  overflow: hidden;
}

.menu__logo {
  float: left;
  margin-left: auto;
  margin-left: 20px;
  /* padding-bottom: 10px; */
}

.navWraper a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navWraper a:hover {
  background-color: #ddd;
  color: black;
}
