* {
  box-sizing: border-box;
}

.homePage {
  /* background-image: url("/images/backgound.jpg"); */
}

.homePage {
  /* max-width: 1100px; */
  margin: 0;
  padding: 0;
  overflow: auto;
  padding: 0 2rem;
  /* margin-left: 400px; */
  width: 100%;
}

.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  border: 3px solid white;
  cursor: pointer;
  /* border-radius: 5px; */
  text-align: center;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.centered:hover {
  color: white;
  background-color: black;
}
@media all and (max-width: 30em) {
   .creatBtn {
    display: block;
    margin: 0.4em auto;
  }
}
h3 {
  color: white;
}
