.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

/* body {
  background-image: url("./images/1.jpg");
  background-size: cover;
} */

.formContent {
  margin-top: 50px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 200px;
  box-shadow: 0 0 8px 0px gray;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;

  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.email {
  margin-top: 10px;
  width: 400px;
  box-shadow: 0 0 1px black;
}
.password {
  width: 400px;
  margin-top: 10px;
}

.button {
  width: 200px;
  margin-top: 20px;
  box-shadow: 0 0 1px black;
}

.button {
  box-shadow: inset 0px 0px 15px 3px #040404;
  background: linear-gradient(to bottom, #404040 5%, #fff 100%);
  background-color: #000000;
  border-radius: 17px;
  border: 1px solid #131212;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.button:hover {
  background: linear-gradient(to bottom, #727375 5%, #333435 100%);
  background-color: #505255;
}
.bsutton:active {
  position: relative;
  top: 1px;
}

label {
  margin-top: 5px;
}

.h1 {
  color: white;
}
.underlineHover {
  color: #000000;
}
